<!DOCTYPE html>
<html lang="pt-br">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
		<title>Feira do Jangurussu</title>

	</head>

    <style>
  
	</style>
	
	<body>
	
		<header class="w-full px-6 bg-white">
			<div class="container text-xs max-w-5xl	 mx-auto md:flex justify-between items-center">
				<a target="_blanck" href="https://goo.gl/maps/a99bwdJkpfEVPSrm8" class="block py-3 w-full text-center md:text-left md:w-auto text-green-500 no-underline flex justify-center items-center">
				
					Jangurussu – Av. Valparaiso, S/N – Sítio São João feira
				</a>
				<div class="w-full flex md:w-auto mb-6 md:mb-0 text-center md:text-right">
					<a target="_blanck" href="https://goo.gl/maps/a99bwdJkpfEVPSrm8" class="block py-3 w-full text-center md:text-left md:w-auto text-green-500 no-underline flex justify-center items-center">
					
						(45)99999-9999
					</a>
				</div>
				
			</div>
		</header>
	
		<nav class="w-full bg-green-500 md:pt-0 px-6 relative z-20">
			<div class="container max-w-5xl	 mx-auto md:flex justify-between items-center text-sm md:text-md md:justify-start">
                <div class="w-full md:w-72 text-center md:text-left py-3 flex flex-wrap justify-center items-stretch md:justify-start md:items-start">
					<a href="#" class="px-2 md:pl-0 md:mr-3 md:pr-3 text-white no-underline">Feira Jangurussu</a>
				</div>
			</div>
		</nav>
		
		<div class="img-filter w-full flex flex-col py-32 px-6 bg-cover bg-no-repeat bg-center relative z-10" style="
        background-image: url('https://images.prismic.io/gp-forn-site/c01422ed-1c99-486c-a02f-de1d45214807_bannerfruit.jpg?auto=compress,format');">
			<div class="container max-w-2xl mx-auto text-center">
				<h1 class="text-5xl font-medium	text-center text-green-600 mb-3">A melhor feira livre de fortaleza</h1>
			</div>

		</div>

		


		<div class="w-full flex flex-col align-center bg-gray-50 px-6 py-6 ">
			
			<div class="container max-w-5xl mx-auto align-center justify-center text-center flex flex-wrap items-start md:flex-no-wrap">
			

				<div class="flex flex-col justify-center items-center max-w-sm mx-2 my-2">
					<div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('https://www12.senado.leg.br/radio/1/noticia/2017/10/16/projeto-institui-dia-nacional-do-feirante/feirantes.jpg/@@images/f95d09cc-00c0-49d8-9853-aa26fcc69686.jpeg');"></div>
					<div class="w-72 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
					 
					  <div class="flex items-center justify-center py-2 px-3 bg-black">
						<h1 class="text-white font-bold ">Ana</h1>
					  </div>
					</div>
				  </div>

				  <div class="flex flex-col justify-center items-center max-w-sm mx-2 my-2">
					<div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('https://simaopessoa.com.br/wp-content/uploads/2017/02/feirante-frutas.jpg');"></div>
					<div class="w-72 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
					 
					  <div class="flex items-center justify-center py-2 px-3 bg-black">
						<h1 class="text-white font-bold ">Raul</h1>
					  </div>
					</div>
				  </div>


				  <div class="flex flex-col justify-center items-center max-w-sm mx-2 my-2">
					<div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('https://cdn.emtempo.com.br/img/inline/210000/dia-do-feirante239_00217531_0_202008241815.jpg');"></div>
					<div class="w-72 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
					 
					  <div class="flex items-center justify-center py-2 px-3 bg-black">
						<h1 class="text-white font-bold ">Joao</h1>
					  </div>
					</div>
				  </div>

			

			</div>

			

			<div class="container max-w-5xl mx-auto align-center justify-center text-center flex flex-wrap items-start md:flex-no-wrap">

				
		
				<div class="flex flex-col justify-center items-center max-w-sm mx-2 my-2">
					<div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('https://blog.sansuy.com.br/wp-content/uploads/2020/04/original-1f9941da9ca09fa415d6a0139a3dc33a-710x474.jpg');"></div>
					<div class="w-72 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
					 
					  <div class="flex items-center justify-center py-2 px-3 bg-black">
						<h1 class="text-white font-bold ">Regio</h1>
					  </div>
					</div>
				  </div>

			</div>
		</div>

		<section class="component bg-gray-700 p-10 ">
			<blockquote class="relative text-white text-xl text-center p-20 w-full m-1">
				Encontrei tudo que precisava, é a melhor feira livre da região. Tem os melhores preços e itens de todo mercado cearense de frutas e muamba.
				<cite> - Tony Stark</cite>
			</blockquote>
		</section>


		<div class="w-full flex flex-col align-center bg-green-500 px-6 py-6 ">
			
			<div class="container max-w-5xl mx-auto align-center justify-center text-center flex flex-wrap items-start md:flex-no-wrap">
			

				<div class="flex flex-col justify-center items-center max-w-sm mx-2 my-2">
					<div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('https://images.prismic.io/gp-forn-site/52d6dfe4-1e0c-4a81-9f7a-1a178e1a00aa_ad4781b32df5768aad55c637ec5ba826.jpg?auto=compress,format');"></div>
					<div class="w-72 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
					 
					  <div class="flex items-center justify-center py-2 px-3 bg-black">
						<h1 class="text-white font-bold ">Limão</h1>
					  </div>
					</div>
				  </div>

				  <div class="flex flex-col justify-center items-center max-w-sm mx-2 my-2">
					<div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('https://images.prismic.io/gp-forn-site/4600148a-8c37-4a99-aa62-afb3d58268d8_melancia-1595625717047_v2_1254x836.jpg?auto=compress,format');"></div>
					<div class="w-72 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
					 
					  <div class="flex items-center justify-center py-2 px-3 bg-black">
						<h1 class="text-white font-bold ">Melancia</h1>
					  </div>
					</div>
				  </div>


				  <div class="flex flex-col justify-center items-center max-w-sm mx-2 my-2">
					<div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('https://images.prismic.io/gp-forn-site/c7c415ce-2140-419f-bcc9-b44899c30c35_banana-1227493.jpg?auto=compress,format');"></div>
					<div class="w-72 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
					 
					  <div class="flex items-center justify-center py-2 px-3 bg-black">
						<h1 class="text-white font-bold ">Banana</h1>
					  </div>
					</div>
				  </div>

			

			</div>

		</div>





      
		</body>
		</html>
		
		